.ng2-alep-table .table-container {
  border: 2px solid #ff8400;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
              0px 10px 20px rgba(0,0,0,0.05),
              0px 20px 20px rgba(0,0,0,0.05),
              0px 30px 20px rgba(0,0,0,0.05);
  overflow-x: auto;
  overflow-y: auto;
}
.ng2-alep-table .table {
  border-collapse: collapse;
  border: 1px solid #eee;
  width: 100%;
}
.ng2-alep-table .table-header, .ng2-alep-table .table-datum {
  color: #999;
  border: 1px solid #eee;
  padding: 10px 10px;
  border-collapse: collapse;
}
.ng2-alep-table .table-header {
  background: #ff8400;
  color: #fff;
  font-size: 1.2em;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  text-transform: uppercase;
}
.ng2-alep-table .table-header:hover {
  cursor: pointer;
  text-decoration: underline;
}
.ng2-alep-table .table-row:nth-child(odd) {
  background-color: #fff3e6;
}
